/* General Styles */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  flex-grow: 1;
  flex-direction: column;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

button {
  padding: 1%;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 10px;
  margin-right: 10px;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #2f2f2f;
  display: block;
  overflow: hidden;
  resize: none;
  outline: none; 
  flex: 1;
}

textarea::content {
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-text-fill-color: transparent;
}

textarea:focus {
  border: none;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #676767;
  padding: 10px;
}

.title-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #676767;
  padding: 10px;
}

.company-title {
  color: inherit;
  padding-left: 10px;
  font-size: x-large;
}

/* Container Styles */
.container {
  justify-content: relative;
  background-color: #212121;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Chat Styles */
.chat-container {
  display: flex; 
  height: 100%; 

  flex-direction: column;
  height: 93vh;
  max-width: 95%;
}

.chat-box {
  overflow: hidden; 
  flex: 1 1 70%;
}

/* Input Styles */
.input-container {
  display: flex; 
  position: relative; 
  flex-direction: column; 
  flex:1 1 0%; 
  max-width: 100%; 
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.input-area {
  display: flex; 
  align-items: center; 
  width: 100%;   
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 40px;
}

/* Record Area Styles */
.record-area {
  max-width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.record-timer {
  font-size: xx-large;
  width: xx-large;
  height: xx-large;
  margin-right: 10px;
}

/* Text Area Styles */
.text-area { 
  color: white;
  max-height: 52px;
}

/* Message Styles */
.user-message, .model-message {
  display: flex;
  margin: 10px;
}

.user-message {
  justify-content: flex-end;
}

.model-message {
  justify-content: flex-start;
}

.message-style {
  padding: 10px;
  background-color: #2f2f2f;
  border-radius: 1.5rem;
  max-width: 70%;
}

/* Button Styles */
#send-button {
  background-color: #676767;
  color: #212121;
  border: none;
  cursor: pointer;
}

#recordBtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

#sttBtn {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

#recordBtn.recording {
  background-color: green;
}


#typingIndicator {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.hidden {
  display: none;
}

.icon-style{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #676767;
  padding: 10px;
  background-color: #212121;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* generated audio player designs */
.audio-player {
  display: none;
}

.icon-style:hover .audio-player {
  display: block;
}

.play-btn {
  cursor: pointer;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  text-align: center;
}

.generated-audio {
  display: none;
}