html {
  height: 100%;
  display: flex;
}

body {
  flex-grow: 1;
  flex-direction: column;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

textarea {
  width: 100%;
  height:10px;
  margin-right: 10px;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #2f2f2f;
  display: block;
  overflow: hidden;
  resize: none;
  outline: none; 
  flex : 1;
}

textarea::content{
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-text-fill-color: transparent;
}

textarea:focus{
  border: none;
}

button {
  padding: 2%;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #676767;
  padding: 10px;
}

.title-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #676767;
  padding: 10px;
}

.company-title {
  color: inherit;
  padding-left: 10px;
  font-size: x-large;
}

.container {
  justify-content: relative;
  background-color: #212121;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  /* margin: auto; */
  padding: 20px;
  /* border: 1px solid #ddd; */

}

.chat-box {
  flex: 1;
  overflow-y: auto;
  word-wrap: break-word;

  /* max-height: 100%;
  min-height: 90%; */
  /* overflow-y: auto; */
  /* border: 1px solid #ccc; */
  margin-bottom: 10px;
  padding: 10px;
  
}

.input-area {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 90%;

  background-color: #2f2f2f;
  padding: 20px;
  border-color: none;
  border-radius: 40px;
}

.record-area {
  width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.record-timer {
  font-size: xx-large;
  width: xx-large;
  height: xx-large;
  margin-right: 10px;
}

.text-area { 
  color: white;
}


#send-button {
  background-color: #676767;
  color: #212121;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* #send-button:hover {
  background-color: white;
} */

#recordBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

#sttBtn {
  background-color: green;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

#recordBtn.recording {
  background-color: green;
}